.createAccount-page {
  background-color: rgba(220, 216, 216, 0.247);
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.createAccount-container {
  position: relative;
  background: transparent;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  border: 2px solid rgba(255, 255, 255, 0.5);
  width: 40%;
  height: auto;
  padding: 2% 5%;
  border-radius: 50px;
}

.close-button {
  position: absolute;
  width: 3%;
  height: 3%;
  right: 5%;
  top: 3%;
  background: none;
  border: none;
}

.close-icon {
  width: 100%;
  height: 100%;
  opacity: 0.5;
  cursor: pointer;
}

h1 {
  text-align: center;
  margin: 4% 0% 5% 0%;
}

.createAcc-input-box {
  position: relative;
  height: 50px;
  border-bottom: 2px solid rgba(54, 53, 53, 0.733);
  margin: 30px 0;
}

.createAcc-input-box label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 1.15vw;
  pointer-events: none;
  transition: 0.5s;
}

.createAcc-input-box input:focus ~ label,
.createAcc-input-box input:valid ~ label {
  top: -5px;
}

.createAcc-input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  padding: 0% 5px;
  font-size: 1vw;
}

.error-message {
  font-size: 0.7vw;
  color: rgb(115, 7, 7);
  margin-top: 1%;
}

#terms-policy-label {
  margin-left: 1%;
  font-size: 1vw;
}

.create-account-button {
  width: 50%;
  height: 35px;
  margin-top: 8%;
  margin-left: 25%;
  font-size: 1.4vw;
  font-weight: bold;
  border-radius: 50px;
  background-color: rgb(124, 123, 123);
  box-shadow: 2px 3px #2d2c2cc9;
  color: black;
  border: none;
  cursor: pointer;
}

.create-account-button:hover {
  background-color: rgb(140, 140, 140);
  box-shadow: 2px 3px #595959c9;
}

.create-account-button:active {
  background-color: rgb(92, 92, 92);
  box-shadow: 2px 3px #2f2f2fc9;
}

.create-account-p1 {
  text-align: center;
  margin-top: 2%;
}

.createaccount-link {
  color: rgb(36, 33, 33);
  text-decoration: none !important;
}
