.dashboard-page {
  background-color: rgba(144, 144, 144, 0.115);
  backdrop-filter: blur(10px);
  position: absolute;
  top: 80px;
  bottom: 0;
  width: 100%;
}

.dashboard-header {
  display: flex;
  height: 15%;
}

.dashboard-header-left {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.dashboard-header-left h1 {
  margin-left: 3%;
  margin-top: 3%;
}

.dashboard-body {
  background: transparent;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  border: 2px solid rgba(236, 236, 236, 0.5);
  background-color: rgba(237, 237, 237, 0.64);
  position: absolute;
  bottom: 2%;
  left: 2%;
  right: 2%;
  top: 17%;
}

.dashboard-summary {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.summary-block1,
.summary-block2,
.summary-block3,
.summary-block4 {
  backdrop-filter: blur(20px);
  box-shadow: 0 0 30px rgba(83, 83, 83, 0.5);
  margin: 5% 5%;
  padding: 5%;
  height: 20vh;
  font-size: 2vw;
  font-weight: bold;
}

.summary-block1 {
  background-color: rgba(225, 185, 225, 0.5);
}

.summary-block2 {
  background-color: hsla(240, 51%, 84%, 0.5);
}

.summary-block3 {
  background-color: rgba(232, 209, 166, 0.5);
}

.summary-block4 {
  background-color: rgba(223, 223, 176, 0.5);
}

.summary-block-icon {
  margin-left: 5%;
}

.count {
  font-size: 3vw;
  position: absolute;
  right: 15%;
  bottom: 10%;
}

.dashboard-charts {
  display: flex;
}

.chart1 {
  margin: 3% 10%;
}

.chart2 {
  margin: 0 3%;
}
