.packageManagememt {
  background-color: rgba(144, 144, 144, 0.115);
  backdrop-filter: blur(10px);
  position: absolute;
  top: 80px;
  bottom: 0%;
  width: 100%;
}

.package-header {
  display: flex;
  height: 15%;
}

.package-header-left {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.package-header-left h1 {
  margin-left: 3%;
  margin-top: 3%;
}

.package-header-right {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.create-pack-button,
.download-pack-button {
  width: 35%;
  height: 40%;
  font-size: 1.1vw;
  font-weight: bold;
  border-radius: 50px;
  background-color: rgb(175, 175, 175);
  box-shadow: 2px 3px #393838c9;
  color: black;
  border: none;
  cursor: pointer;
}

.create-pack-button:hover,
.download-pack-button:hover {
  background-color: rgb(160, 160, 160);
  box-shadow: 2px 3px #636363c9;
}

.create-pack-button:active,
.download-pack-button:active {
  background-color: rgb(122, 122, 122);
  box-shadow: 2px 3px #404040c9;
}

.package-body {
  backdrop-filter: blur(20px);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  border: 2px solid rgba(236, 236, 236, 0.5);
  background-color: rgba(237, 237, 237, 0.782);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  position: absolute;
  height: fit-content;
  bottom: 2%;
  left: 2%;
  right: 2%;
  top: 17%;
}

.package-block {
  background-image: linear-gradient(
    rgba(190, 189, 189, 0.773),
    rgba(205, 204, 204, 0.773),
    rgba(221, 217, 217, 0.773),
    rgba(205, 202, 202, 0.773),
    rgba(172, 167, 167, 0.773)
  );
  backdrop-filter: blur(20px);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.5);
  margin: 2%;
  text-align: center;
  padding: 5% 0;
}

.package-block-header {
  line-height: 100%;
}

.package-block-paragrph {
  display: grid;
  grid-template-columns: 65% 35%;
  padding: 8% 0;
  font-size: 1.2vw;
}

.package-price {
  text-align: left;
}

.package-block-update,
.package-block-delete {
  padding: 2% 5%;
  margin: 0 5%;
  border: none;
  font-size: 1.2vw;
  font-weight: 600;
  border-radius: 50px;
  cursor: pointer;
}

.package-block-update {
  background-color: green;
  box-shadow: 2px 3px rgb(26, 59, 26);
}

.package-block-delete {
  background-color: rgb(144, 40, 40);
  box-shadow: 2px 3px #3d0b0b;
}

.package-block-update:hover {
  background-color: rgb(40, 159, 40);
  box-shadow: 2px 3px rgb(59, 99, 59);
}

.package-block-delete:hover {
  background-color: rgb(170, 66, 66);
  box-shadow: 2px 3px #692222;
}

.package-block-update:active {
  background-color: rgb(3, 96, 3);
  box-shadow: 2px 3px rgb(23, 52, 23);
}

.package-block-delete:active {
  background-color: rgb(111, 30, 30);
  box-shadow: 2px 3px #290606;
}

.custom-link {
  text-decoration: none; /* Remove default underline */
  color: inherit; /* Inherit text color */
}
