.salaryDetails {
  background-color: rgba(144, 144, 144, 0.115);
  backdrop-filter: blur(10px);
  position: absolute;
  top: 80px;
  bottom: 0;
  width: 100%;
}

.salaryDetails-header {
  display: flex;
  height: 15%;
}

.salaryDetails-header-left {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.salaryDetails-header-left h1 {
  margin-left: 3%;
  margin-top: 3%;
}

.salaryDetails-header-right {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.add-salary-button,
.download-salary-button {
  width: 30%;
  height: 40%;
  font-size: 1.1vw;
  font-weight: bold;
  border-radius: 50px;
  background-color: rgb(175, 175, 175);
  box-shadow: 2px 3px #393838c9;
  color: black;
  border: none;
  cursor: pointer;
}

.add-salary-button:hover,
.download-salary-button:hover {
  background-color: rgb(160, 160, 160);
  box-shadow: 2px 3px #636363c9;
}

.add-salary-button:active,
.download-salary-button:active {
  background-color: rgb(122, 122, 122);
  box-shadow: 2px 3px #404040c9;
}

.salaryDetails-body {
  background: transparent;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  border: 2px solid rgba(236, 236, 236, 0.5);
  background-color: rgba(237, 237, 237, 0.64);
  position: absolute;
  bottom: 2%;
  left: 2%;
  right: 2%;
  top: 17%;
}

.sort-button {
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.sort-by-id-button {
  width: 10%;
  height: 50%;
  font-size: 1.1vw;
  font-weight: bold;
  border-radius: 50px;
  background-color: rgb(169, 169, 169);
  box-shadow: 2px 3px #767676c9;
  color: rgb(63, 63, 63);
  border: none;
  cursor: pointer;
  margin: 0% 5%;
}

.sort-by-id-button:hover {
  background-color: rgb(160, 160, 160);
  box-shadow: 2px 3px #636363c9;
}

.sort-by-id-button:active {
  background-color: rgb(122, 122, 122);
  box-shadow: 2px 3px #404040c9;
}

.salaryDetails-body table {
  border-collapse: collapse;
  width: 96%;
  margin: 1%;
}

.salaryDetails-body td,
th {
  border: 1px solid black;
  text-align: left;
  padding: 1%;
}

.salaryDetails-body th {
  background-color: rgba(158, 158, 158, 0.878);
  font-style: italic;
}

.salaryDetails tr:nth-child(odd) {
  background-color: rgb(212, 212, 212);
}

.salaryDetails tr:nth-child(even) {
  background-color: rgb(234, 234, 234);
}
